footer
	div Powered by <a href="https://github.com/yuchi/Beauvoir">Beauvoir</a> 
	div
		small
			| uses 
			a(href="http://nodejs.org") &#11042; Node.js
			| , 
			a(href="http://redis.io") Redis
			| , 
			a(href="http://maritz.github.com/nohm/") Nohm
			| , 
			a(href="http://expressjs.com/") Express
			| , 
			a(href="http://learnboost.github.com/stylus/") Stylus
			| , 
			a(href="http://jade-lang.com") Jade
			|	and others
	div
		small
			| interface provided with 
			a(href="http://jquery.com") jQuery
			| ,
			a(href="http://documentcloud.github.com/backbone/") Backbone
			| ,
			a(href="https://github.com/jstayton/jquery-marcopolo") Marco Polo
			| ,
			a(href="http://ethanschoonover.com/solarized") Solarized

