// Libraries (what about snockets deps)
!= js('jquery.min')
!= js('underscore.min')
!= js('dust.min')
!= js('backbone.min')
!= js('jquery-ui/js/jquery-ui-1.8.16.custom.min')
////!= js('jquery.marcopolo.ian')
////!= js('jquery.manifest')
!= js('jquery.toolbox')
!= js('jquery.manifest.min')
// Beauvoir
!= js('application')
!= js('interface')
!= css('marcopolo.css')
!= css('manifest.css')
!= css('/js/jquery-ui/css/custom-theme/jquery-ui-1.8.16.custom.css')
!= css('/style/look.css')