script(src='/public/js/jquery.min.js')
script(src='/public/js/underscore.min.js')
script(src='/public/js/dust.min.js')
script(src='/public/js/backbone.min.js')
script(src='/public/js/models/models.js')
script(src='/public/js/jquery.marcopolo.min.js')
script(src='/public/js/interface.js')
link(rel="stylesheet",href="/public/style/look.css")
link(rel="stylesheet",href="/public/style/marcopolo.css")