script(src='/public/js/jquery.min.js')
script(src='/public/js/underscore.min.js')
script(src='/public/js/dust.min.js')
script(src='/public/js/backbone.min.js')
script(src='/public/js/jquery-ui/js/jquery-ui-1.8.16.custom.min.js')
script(src='/public/js/jquery.marcopolo.ian.js')
script(src='/public/js/models/models.js')
script(src='/public/js/interface.js')
link(rel="stylesheet",href="/public/style/marcopolo.css")
link(rel="stylesheet",href="/public/js/jquery-ui/css/custom-theme/jquery-ui-1.8.16.custom.css")
link(rel="stylesheet",href="/public/style/look.css")
