#settings.dd-wrapper
	.dd-icon(tabindex=0,title="Settings and actions")
		span &#9881;
	.dd-panel
		p Settings and actions
		ul.actions
			li: a(href="http://gravatar.com/emails/",target="_blank") Change your avatar <small>(at Gravatar.com)</small>
			li: a.unavailable(href="#") Edit your credentials
			li: a(href="/context-settings") Edit context settings
			li
				if availableContexts.length > 1
					a.left(href="javascript:$('#actual').mousedown()") Change context
				a.right(href="/logout") Logout
