body {
  background: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body > h1 {
  margin: 10px;
  padding: 0px;
  color: #002b36;
}
body > h1 img {
  width: 55px;
  height: 55px;
}
body > h1 img,
body > h1 #logo {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
body > h1 #logo .in {
  position: absolute;
  left: 0px;
  background: #002b36;
}
body > h1 #logo .rc,
body > h1 #logo .sq {
  overflow: hidden;
  position: relative;
  width: 34px;
}
body > h1 #logo .rc {
  height: 21px;
}
body > h1 #logo .rc .in {
  bottom: 0px;
  width: 38px;
  height: 38px;
  -moz-border-radius-bottomright: 38px;
  -webkit-border-bottom-right-radius: 38px;
  -webkit-border-bottom-right-radius: 38px;
  -moz-border-radius-bottomright: 38px;
  border-bottom-right-radius: 38px;
}
body > h1 #logo .sq {
  height: 34px;
}
body > h1 #logo .sq .in {
  top: 0px;
  width: 34px;
  height: 34px;
  -moz-border-radius-topright: 34px;
  -webkit-border-top-right-radius: 34px;
  -webkit-border-top-right-radius: 34px;
  -moz-border-radius-topright: 34px;
  border-top-right-radius: 34px;
}
.hide {
  display: none;
}
.tasks {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  padding: 0px;
}
.task {
  padding: 5px;
  list-style: none;
  display: block;
  overflow: hidden;
}
.task .toggle {
  width: 25px;
  height: 25px;
  margin: 5px;
  line-height: 25px;
  font-size: 20px;
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-indent: -50px;
  overflow: hidden;
  background: #073642;
  cursor: pointer;
  text-align: center;
  -webkit-transition: text-indent 600ms, color 600ms, background 600ms;
  -moz-transition: text-indent 600ms, color 600ms, background 600ms;
  transition: text-indent 600ms, color 600ms, background 600ms;
  -webkit-box-shadow: inset 0px 2px 2px -2px #002b36;
  -moz-box-shadow: inset 0px 2px 2px -2px #002b36;
  box-shadow: inset 0px 2px 2px -2px #002b36;
  text-shadow: 0px 1px 1px #002b36;
}
.task .name {
  line-height: 22px;
  padding: 8px 0 5px;
  margin-left: 42px;
}
.task .archive {
  display: block;
  cursor: pointer;
  float: right;
  margin: 5px;
  line-height: 22px;
  padding-top: 3px;
  -webkit-transition: opacity 200ms ease 600ms;
  -moz-transition: opacity 200ms ease 600ms;
  transition: opacity 200ms ease 600ms;
  color: #002b36;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.task.completed .toggle {
  text-indent: 0px;
  background: #808080;
}
.task.completed .name {
  text-decoration: line-through;
}
.task.completed:hover .archive {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -webkit-transition: opacity 200ms ease 0;
  -moz-transition: opacity 200ms ease 0;
  transition: opacity 200ms ease 0;
}
.task.priority-1 {
  background: #fff;
  color: #002b36;
}
.task.priority-1 .toggle {
  color: #fff;
}
.task.priority-2 {
  background: #fff;
  color: #cb4b16;
}
.task.priority-2 .toggle {
  color: #fff;
}
.task.priority-3 {
  background: #fdf6e3;
  color: #dc322f;
}
.task.priority-3 .toggle {
  color: #fdf6e3;
}
