body {
  background: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body > h1 {
  margin: 10px;
  padding: 0px;
  color: #002b36;
}
body > h1 img {
  width: 55px;
  height: 55px;
}
body > h1 img,
body > h1 #logo {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
body > h1 #logo .in {
  position: absolute;
  left: 0px;
  background: #002b36;
}
body > h1 #logo .rc,
body > h1 #logo .sq {
  overflow: hidden;
  position: relative;
  width: 34px;
}
body > h1 #logo .rc {
  height: 21px;
}
body > h1 #logo .rc .in {
  bottom: 0px;
  width: 38px;
  height: 38px;
  -webkit-border-radius-bottomright: 38px;
  -moz-border-radius-bottomright: 38px;
  border-radius-bottomright: 38px;
  -webkit-border-bottom-right-radius: 38px;
  -webkit-border-bottom-right-radius: 38px;
  -moz-border-radius-bottomright: 38px;
  border-bottom-right-radius: 38px;
}
body > h1 #logo .sq {
  height: 34px;
}
body > h1 #logo .sq .in {
  top: 0px;
  width: 34px;
  height: 34px;
  -webkit-border-radius-topright: 34px;
  -moz-border-radius-topright: 34px;
  border-radius-topright: 34px;
  -webkit-border-top-right-radius: 34px;
  -webkit-border-top-right-radius: 34px;
  -moz-border-radius-topright: 34px;
  border-top-right-radius: 34px;
}
.hide {
  display: none;
}
.tasks {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  padding: 0px;
  margin: 10px 0;
}
.task {
  padding: 5px;
  list-style: none;
  display: block;
  overflow: hidden;
}
.task .toggle {
  width: 25px;
  height: 25px;
  margin: 5px;
  line-height: 25px;
  font-size: 20px;
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-indent: -50px;
  overflow: hidden;
  background: #073642;
  cursor: pointer;
  text-align: center;
  -webkit-transition: text-indent 600ms, color 600ms, background 600ms;
  -moz-transition: text-indent 600ms, color 600ms, background 600ms;
  transition: text-indent 600ms, color 600ms, background 600ms;
  -webkit-box-shadow: inset 0px 2px 2px -2px #002b36;
  -moz-box-shadow: inset 0px 2px 2px -2px #002b36;
  box-shadow: inset 0px 2px 2px -2px #002b36;
  text-shadow: 0px 1px 1px #002b36;
}
.task .info {
  line-height: 22px;
  padding: 8px 0 5px;
  margin-left: 42px;
}
.task .info .assignedTo {
  color: #808080;
  padding: 0 0.5ex;
  margin: 0 0.5ex;
}
.task .info .assignedTo:before {
  content: "→ ";
}
.task .info .assignedTo span + span:before {
  content: ", ";
}
.task .info .assignedTo .closed span {
  text-decoration: line-through;
}
.task .archive {
  display: none;
  cursor: pointer;
  float: right;
  margin: 5px;
  line-height: 22px;
  padding-top: 3px;
  -webkit-transition: opacity 200ms ease 200ms;
  -moz-transition: opacity 200ms ease 200ms;
  transition: opacity 200ms ease 200ms;
  color: #002b36;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.task time {
  text-transform: uppercase;
  font-size: 0.6em;
  color: #586e75;
}
.task time:before {
  content: "(";
}
.task time:after {
  content: ")";
}
.task.completed .toggle {
  text-indent: 0px;
  background: #808080;
}
.task.completed .name {
  text-decoration: line-through;
}
.task.completed .archive {
  display: block;
}
.task.completed:hover .archive {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -webkit-transition: opacity 200ms ease 0;
  -moz-transition: opacity 200ms ease 0;
  transition: opacity 200ms ease 0;
}
.task.priority-1 {
  background: #fff;
  color: #002b36;
}
.task.priority-1 .toggle {
  color: #fff;
}
.task.priority-2 {
  background: #fff;
  color: #cb4b16;
}
.task.priority-2 .toggle {
  color: #fff;
}
.task.priority-3 {
  background: #fdf6e3;
  color: #dc322f;
}
.task.priority-3 .toggle {
  color: #fdf6e3;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
}
.flex.f {
  width: 100%;
}
.flex .placer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
#creation {
  margin: 10px;
}
#creation #left {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
#creation #middle {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
#creation #right {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
.input.b {
  margin: 5px;
  background: #fff;
  border: 1px solid #808080;
  border-color: #8d8d8d #c0c0c0 #c0c0c0;
  font-size: 20px;
  padding: 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: border-color 200ms, color 200ms;
  -moz-transition: border-color 200ms, color 200ms;
  transition: border-color 200ms, color 200ms;
}
.input.b:hover {
  border-color: #4d4d4d #808080 #808080;
}
.input.b.focus {
  border-color: #861d50 #d33682 #d33682;
}
.input input.h {
  padding: 0px 5px;
  width: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}
.input input.h,
.input input.h:hover,
.input input.h:focus,
.input input.h:active {
  outline: none;
  border: 0px none;
  font: 20px Helvetica, Arial, sans-serif;
}
.input input.h.f {
  width: 100%;
}
.input input.h.auto {
  -webkit-transition: width 200ms;
  -moz-transition: width 200ms;
  transition: width 200ms;
  width: 130px;
}
.input input.h.auto.medium.filled,
.input input.h.auto.medium.focus {
  width: 160px;
}
.input input.h[type="date"] {
  width: 14ex;
}
.input input.h.lockable.valid {
  color: #cdcdcd;
}
.input .icon {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  transition: color 200ms;
  line-height: 30px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  padding: 4px 0 1px;
}
.input .icon.padded {
  padding-left: 1ex;
  padding-right: 1ex;
}
.input .icon label[for] {
  cursor: pointer;
}
.input .icon.delete {
  padding-top: 1px;
  color: #dc322f;
  margin-right: 1ex;
}
.input .icon.delete:hover {
  color: #b9221f;
}
.input .validator {
  color: #f3f3f3;
}
.input .validator.valid {
  color: #227dbc;
}
.input .priority.priority-1 {
  color: #f3f3f3;
}
.input .priority.priority-2 {
  color: #cb4b16;
}
.input .priority.priority-3 {
  color: #dc322f;
}
.separator {
  border-left: 1px solid #c0c0c0;
  margin-left: 2px;
  padding-left: 5px;
}
