!!! 5
html
	head
		title Beauvoir
		meta(name="viewport",content="width = device-height")
		include includes/scripts
	body
		h1
			img(src=user.getGravatar())
			#logo
				include includes/logo
			| eauvoir

		form#creation.input.b(action="/lol")
			.flex.f
				#left.flex
					.placer
						input#name.h.f(type="text",placeholder="Create new task",autocomplete='off')
				#middle.flex
					.attributes
						#priority.priority.icon.padded
				#right.flex
					.separator.mp_container.mp_full
						.validator.icon: label(for='assign') @
						input#assign.h.auto.medium.lockable(type="text",placeholder="Assign (you)",autocomplete='off')
					.separator
						button(type='submit') Create
		ul#tasks.tasks

		.hide
			//- Templates
			#single-task-view
				li.task(class="{status} priority-{priority}",tabindex=0)
					.toggle &#10003;
					.archive Archive
					.info
						span.name {name}
						span.assignedTo
							| {#assignedTo}{username}{/assignedTo}