!!! 5
html
	head
		title Beauvoir, login
		meta(name="viewport",content="width = device-height",target="_blank")
		include includes/scripts
	body
		#wrap

			header

				h1#hat
					#logo
						include includes/logo
					| eauvoir

			form#login(method="POST",action="/login")
				section
					input(type="text",name="username",placeholder="Username")
					input(type="password",name="password",placeholder="Password")
					button(type="submit") Login
	
		include includes/footer
