
// Fonts

/*@import url('http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic');*/
@import url('http://fonts.googleapis.com/css?family=Philosopher:700');
font-decorated(weight)
	font-family 'Philosopher', Helvetica, Arial, sans-serif
	font-weight weight

// Requires

@import './utils/vendor';
@import 'nib';

// Colors

pr_0 = #313131
pr_1 = #111
pr_2 = #311111

c_base03 =    #002b36
c_base02 =    #073642
c_base01 =    #586e75
c_base00 =    #657b83
c_base0 =     #839496
c_base1 =     #93a1a1
c_base2 =     #eee8d5
c_base3 =     #fdf6e3
c_yellow =    #b58900
c_orange =    #cb4b16
c_red =       #dc322f
c_magenta =   #d33682
c_violet =    #6c71c4
c_blue =      #268bd2
c_cyan =      #2aa198
c_green =     #859900

m_color = c_base03
m_alert = c_red
m_info = c_blue
m_success = c_cyan
m_error	= c_orange

#err
	err

p_medium = c_orange
p_high   = c_red
p_low = black

#err
	err

// Some base styles

.unavailable
	color desaturate(darken(c_red,20),20) !important
	text-decoration line-through !important

// Logo

logo(bg)
	_a = 21px
	_b = 34px

	.in
		position absolute
		left 0px
		background bg
	.rc, .sq
		overflow hidden
		position relative
		width _b

	.rc
		height _a
		.in
			bottom 0px
			_x = (_b / 2) + _a
			width _x
			height _x
			border-radius bottom right _x
	.sq
		height _b
		.in
			top 0px
			_x = _b
			width _x
			height _x
			border-radius top right _x

// Contents

@import 'partials/context';
@import 'partials/login';
@import 'partials/page';
//@import 'interface/modals';

body
	background white
	font-family sans-serif
	margin 0
	padding 0 0 20px

	header
		margin 0px
		padding 0px
		//overflow hidden
		height 75px
		z-index 200

	#hat
		font-decorated 700
		float left
		margin 0px
		padding 10px
		color m_color

		img
			width 55px
			height 55px
		img
		#logo
			display inline-block
			vertical-align middle
			position relative

		#logo
			logo c_base03

html, body
	height 100%
	margin 0px
	padding 0px

#wrap
	min-height 100%
	position relative
	> *
		position relative

#footer-limiter
	padding 0 0 110px

footer
	margin -70px 0 0
	width 100%
	left 0px
	text-align center
	color c_base01
	position relative
	a
		color c_base03
		text-decoration none

.hide
	display none


tick_size = 25px

.tasks
	border-radius 5px
	width 100%
	padding 0px
	margin 10px 0
.task
	padding 5px
	list-style none
	display block
	overflow hidden

	.toggle
		width tick_size
		height tick_size
		margin 5px
		line-height tick_size
		font-size tick_size * 0.8
		float left
		border-radius 2px
		text-indent tick_size * -2
		overflow hidden
		background c_base02
		cursor pointer
		text-align center
		transition text-indent slow, color slow, background slow
		box-shadow inset 0px 2px 2px -2px c_base03
		text-shadow 0px 1px 1px c_base03

	.info
		line-height tick_size - 3px
		padding 8px 0 5px
		margin-left tick_size + 17px
		.assignedTo
			color grey
			padding 0 .5ex
			margin 0 .5ex
			&:before
				content '→ '
			span + span
				&:before
					content: ', '
			.closed span
				text-decoration line-through

	.archive
		display none
		cursor pointer
		float right
		margin 5px
		line-height tick_size - 3px
		padding-top 3px
		transition opacity fast ease fast
		color c_base03
		opacity 0

	time
		text-transform uppercase
		font-size 0.6em
		color c_base01
		&:before
			content '('
		&:after
			content ')'

	&.completed
		.toggle
			text-indent 0px
			background grey
		.name
			text-decoration line-through
		.archive
			display block
		&:hover .archive
			opacity 1
			transition opacity fast ease 0

	task(main, bg)
		background bg
		color main
		.toggle
			color bg

	&.priority-1
		task c_base03 white
	&.priority-2
		task p_medium white
	&.priority-3
		task p_high c_base3

// Create task form

.flex
	display -webkit-box
	display -moz-box
	display box
	&.f-full
		width 100%
	.placer
		box-flex 1

	&.f-1
		box-flex 1
	&.f-0
		box-flex 0

#creation
	margin 10px
	margin-top 0px
	/*
	#left
		box-flex 1
	#middle
		box-flex 0
	#right
		box-flex 0
		box-align center
	*/

// Fields

f_main = silver
f_hover = grey
f_focus = c_magenta
f_disabled = lighten(silver,20)
f_locked = lighten(silver, 5)
f_valid = c_blue

.input
	&.b
		margin 5px
		background white
		border 1px solid grey
		border-color darken(f_main,20) f_main f_main
		font-size 20px
		padding 0px // 0.2ex 0.3ex
		border-radius 2px
		transition border-color fast, color fast
		&:hover
			border-color darken(f_hover,20) f_hover f_hover
		&.focus
			border-color darken(f_focus,20) f_focus f_focus
		&.p-low.focus
			border-color darken(c_blue,20) c_blue c_blue

	input.h
		padding 0px 5px
		width 200px
		box-sizing border-box
		height 35px
		display inline-block
		vertical-align middle
		box-shadow none
		-webkit-appearance none
		&,&:hover,&:focus,&:active
			outline none
			border 0px none
			font 20px Helvetica, Arial, sans-serif
		&.f
			width 100%
			// display block
		&.auto
			transition width fast
			width 130px
			&.medium
				&.filled, &.focus
					width 160px
		&.small
			width 120px
		&.date
			width 14ex
		&.lockable
			&.valid
				color f_locked
	.icon
		display inline-block
		vertical-align middle
		overflow hidden
		transition color fast
		//width 30px
		line-height 30px
		overflow visible
		user-select none
		cursor default
		padding 4px 0 1px
		&.padded
			padding-left 1ex
			padding-right 1ex
		label[for]
			cursor pointer
		&.delete
			padding-top 1px
			color c_red
			margin-right 1ex
			cursor pointer
			&:hover
				color darken(c_red,10)
		&.due
			padding-top 2px
			padding-bottom 3px

	.validator
		color f_main
		&.valid
			color darken(f_valid,5)

	.priority
		&.priority-1
			color f_disabled
		&.priority-2
			color p_medium
		&.priority-3
			color p_high

	.action
		appearance none
		padding 0px 2ex
		margin 0px
		line-height 35px
		border none
		height 35px
		background none
		font-size 20px
		cursor pointer
		overflow hidden
		transition color fast
		text-shadow 0px 1px 0px white
		color c_blue
		&:active
			color c_cyan
		&:focus
			color black
		&:hover
			color black

.separator
	border-left 1px solid f_main
	margin-left 2px
	padding-left 5px

@media screen and (max-width: 1000px)
	#creation-flexer
		display block
		> .flex + .flex
			border-top 1px solid f_main
	#creation-right > .separator:first-child
		border none

@media screen and (max-width: 520px)
	#creation-right
		display block
		> .separator
			border none
			.icon.delete
				float right


// Helping jQuery UI looking pretty
.ui-widget
	font-size 12px !important
.ui-datepicker
	margin 5px 0 0
	td
		width 14.5%
		.ui-state-default
			border-radius 2px
			text-align center
			border none


