
// This is the style for the context switcher

cs_main = silver
cs_normal = lighten(cs_main,20)
cs_strong = darken(cs_normal,20)

.dd-list
	float right
	margin 0 5px

.dd-wrapper
	display block
	float left
	margin 10px 5px
	padding 0px
	position relative

	a.dd-icon
		cursor pointer

	.dd-icon
		text-decoration none
		color black
		display block
		cursor default
		user-select none
		line-height 30px
		font-size 20px
		padding 0 10px
		border 1px solid cs_normal
		border-radius 2px

		html.loaded &
			transition border fast, background fast

		&:hover, &:focus, &.hover
			border-color cs_strong
			background cs_normal

		&:focus
			border-color c_blue
			outline none

		img.avatar
			display inline-block
			vertical-align middle
			margin-right 5px
			position relative
			top -1px
			border-radius 2px

		.separator
			border-left 1px solid silver
		.action
			cursor pointer
			.to-off
				display none
			.to-on
				display inline
	// Should look like MarcoPolo dropdown
	.dd-panel
		position absolute
		top 100%
		right 0px
		margin-top 5px
		//border 1px solid silver
		box-shadow 0px 0px 0px 1px rgba(0,0,0,0.25)
		background white
		min-width 300px
		padding 5px
		border-radius 3px

		transform scale(0.0)
		-webkit-transform-origin 100% 0%
		opacity 0
		visibility hidden
		html.loaded &
			transition opacity fast, transform fast, visibility 0s linear fast
			-webkit-transition opacity fast, -webkit-transform fast, visibility 0s linear fast
			-moz-transition opacity fast, -moz-transform fast, visibility 0s linear fast

		p
			padding 5px
			margin 0 0 5px
			font-size 0.8em
			color gray

		ul
			margin 0px
			padding 0px

			li
				display block
				margin 0px
				padding 4px 4px 5px
				overflow hidden
				+ li
					border-top 1px solid silver
		ul li,
		div
			a
				display block
				color #666
				text-decoration none
			&.current a
				&, &:hover, &:focus, &.hover
					color lighten(gray, 20)
			a:focus, a:hover, a.hover
				color black

			a:focus
				outline 1px solid c_blue

			.icon
				display inline-block
				width 2.5ex

			a.right
				float right
			a.left
				float left

		.actions
			a
				padding 8px 10px 6px
				&:hover, &:focus, &.hover
					color black
					background lighten(silver,10)

	&.opened
		.dd-icon
			border-color cs_strong
			background cs_normal
			.action
				.to-on
					display none
				.to-off
					display inline
		.dd-panel
			transform scale(1.0)
			opacity 1
			visibility visible
			html.loaded &
				transition opacity fast, transform fast, visibility 0s
				-webkit-transition opacity fast, -webkit-transform fast, visibility 0s
				-moz-transition opacity fast, -moz-transform fast, visibility 0s


