
// Single page and generic styles.

#page
	max-width 960px
	margin 0 auto
	font-size 16px
	font-weight 300

	.padder
		margin 10px

	.message
	.alert
		margin 10px
		padding 0px 5px
		border-radius 2px
		border 1px solid gray

	.message
		border-color c_blue

	.alert
		border-color c_orange

	h1, h2, h3
		font-weight 500
		margin 10px
	p
		margin 10px