
// Utils

slow = 600ms
fast = 200ms

/*
transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	transition arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments
*/

border-top-right-radius()
	-webkit-border-top-right-radius arguments
	-moz-border-radius-topright arguments
	border-top-right-radius arguments
border-bottom-right-radius()
	-webkit-border-bottom-right-radius arguments
	-moz-border-radius-bottomright arguments
	border-bottom-right-radius arguments
